/resources/public/js/compiled/**
*.map
*.cache.edn
.figwheel-compile-stamp
figwheel_server.log
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.lein-failures
.nrepl-port
.idea/
*.iml
.DS_Store
